
.avbar {
  position: absolute;
  z-index: 1;
}

#myBtn {
  float: none;
  left: auto;
  margin: 10px;
  position: absolute;
  z-index: 2;
}

#myBtn:hover, .btn:hover, #reg2:hover{
  background-color: #e17a4d;
  color: #d6d7d6;
}

.item img{
  width: 100%;
}

#myModal {
  margin-top: 83px;
}

.carousel-caption {
  border-radius: 40px;
  background-color: rgba(18, 9, 13, 0.5);
}

body, .bg-primary {
    position: relative;
    background-color: #040404;
}

/* Parallax */
.parallax {
    background-image: url("../images/tienda.jpg");
  }

.parallaxInstruments {
  background-image: url("../images/instruments.jpg");
}

.parallaxTrans {
  background-image: url("../images/transacciones.jpg");
}

.parallaxC {
  background-image: url("../images/inst.jpg");
  background-position: 40% 10%;
}

.parallaxLog {
  background-image: url("../images/inst.jpg");
}

.parallaxP {
  background-image: url("../images/productos.jpg");
}

#parallaxCursos {
  background-image: url("../images/cursos.jpg");
}

.parallax, .parallaxInstruments, .parallaxTrans, .parallaxLog, .parallaxP, .parallaxInstruments, #parallaxCursos {
  /* Set a specific height */
  min-height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}

.parallaxP, #parallaxCursos {
  background-position: center;
  background-size: calc;
}

.imgCurso {
  width: 100%;
  height: 600px;
}

.parallaxP, #parallaxCursos {
  height: 605px;
}

.tablas h1 {
    text-align: center;
}

#section1 {
  padding-top:0px;
  margin: 0px;
  height:650px;
  color: #040404;
}

#section2, #section4 {
  margin-top: 50px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 0 #888;
  padding: 80px;
}

#section3, #section5, .tablas, .cursos, .login {
  margin: 50px;
  padding: 40px;
  height:500px;
  text-align: justify;
  border-radius: 15px;
}

.titulos, .titulosC {
    margin-left: 60px;
}

.titulos {
    margin-left: 1050px;
}

.titulos, .titulos2, .titulosC {
  text-align: left;
  color: whitesmoke;
  margin-top: 250px;
  position: absolute;
  z-index: 2;
}

.tablas p {
  text-transform: uppercase;
  text-align: center;
}

#section3, #myBtn, #section5, .tablas, .cursos, .login, .productos, .productos2 {
  background-color: #f2f2f2;
}

.productos {
    padding: 50px;
}

.ytComercial {
  height: 315px;
}

#section5 iframe {
  width: 560px;
  height: 450px;
}

.ytComercial, #section5 iframe{
  width: 560px;
  float: right;
  padding-left: 50px;
}

#header .icon{
  margin: 3px 0px 0px 25px;
  float: left;
  height: 45px;
  width: 45px;
}

.icon2, #section5 img, .ventana img {
  float: left;
  height: 90px;
  width: 90px;
}


#iniNaranja, .btn, .label {
  background-color: #e17a4d;
  border-style: none;
}

.linkSesion {
  text-decoration: none;
  color: white;
}

#iniNaranja:hover, li:hover {
  background-color: #dc5d2b;
  border-style: none;
}

.carga {
  cursor:pointer;
}

.carga {
  width: 55%;
  margin: 20px auto;
}

.tablas, .cursos, .login {
  height: auto;
}

.bg-circle-outline {
  color: whitesmoke;
  margin-left: 10px;
  border: 2px solid;
  border-color: whitesmoke;
  border-radius: 50%;
  float: right;
  text-align: center;
}

.bg-circle-outline a {
  outline: none;
  color: #ececec;
}

.ventana {
  background-color: white;
  border-radius: 15px;
  margin-top: 480px;
  width: 400px;
  padding: 10px;
  background-attachment: scroll;
  position: absolute;
  z-index: 3;
}

.cerrar {
    background-color: #e17a4d;
    border-radius: 15px;
    margin-left: 320px;
}

/* Galería de los cursos*/
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail > h4 {
    padding: 7px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumbnail h4 .info {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.6em;
    padding-left: 15px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    cursor:  pointer;
}

.thumbnail h4 .info > span {
    margin-right: 10px;   
}

.thumbnail img {
    width: 100%;
}
.thumbnail a.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.cancelar {
    background-color: #f43716;
    margin: 0px 20px;
    float: right;
}

.registrar {
    background-color: #f4bc42;
}

.productos {
    height: 2700px;;
}

.productos2 {
    padding: 50px;
    height: 950px;
}

.contenedor {
   width: 310px;
   margin: 35px;
   float: left;
   background-color: #d7dde8;
   padding: 10px;
   border-radius: 10px;
}

.contenedor div{
   float: right;
}
